.jumbotron
{background-color: gray;
color: black;
margin-top: 50px;}


footer{
	padding: 10px 10px 0 10px;
	background-color: gray;
	margin-bottom:  0px;
	margin-top: 10px;	
	color: white;
}

.btn-conoce{
	width: 100%;
	color: white;
	border-radius: 0px; 

}

.card-place
{flex: 1 200px;
	margin-top: 10px;

}

