.jumbotron {
  background-color: #3a3d3f;
  color: black;
  margin-top: 50px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #4194f4;
  margin-bottom: 0px;
  margin-top: 10px;
  color: white; }

.btn-conoce {
  width: 100%;
  color: white;
  border-radius: 0px; }

.card-place {
  flex: 1 200px;
  margin-top: 10px; }
