$yellow: #f4f441;
$blue: #4194f4;
$gray: #3a3d3f;

.jumbotron
{background-color: $yellow;
color: black;
margin-top: 50px;}


footer{
	padding: 10px 10px 0 10px;
	background-color: $blue;
	margin-bottom:  0px;
	margin-top: 10px;	
	color: white;
}

.btn-conoce{
	width: 100%;
	color: white;
	border-radius: 0px; 

}

.card-place
{flex: 1 200px;
	margin-top: 10px;
}

